h1 {
    font-family: Georgia;
    color: grey;
    background-color: lightskyblue;
    text-align: center;
    text-transform: uppercase;
    border: solid slategrey 3px;
    padding: 20px, 40px;
    height: 40px;
    width: 120px;
}

p {
    font-family: sans-serif;
    color: gray;
    background-color: lightskyblue;
    text-align: left;
}