h1 {
    font-family: Georgia;
    color: black;
    background-color: rgb(255, 188, 144);
    text-align: center;
    text-transform: uppercase;
    border: solid slategrey 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    height: 40px;
    margin-bottom: 10px;
    
}

body {
    background-color: lightskyblue;
}

p {
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-top: 30px;
}